html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

.navbar-logo {
    max-width: 15rem;
}

.project-detail-card {
    padding: 1.5rem;
    background-color: #343a40;
    color: white;
    border-radius: 0.5rem;
}
